<!DOCTYPE html>
<html lang="en">
  <head>
<script src="static/RGraph/libraries/RGraph.common.core.js"></script>
<script src="static/RGraph/libraries/RGraph.common.dynamic.js"></script>   <!-- Just needed for dynamic features (eg tooltips) -->

<script src="static/RGraph/libraries/RGraph.common.annotate.js"></script>  <!-- Just needed for annotating -->
<script src="static/RGraph/libraries/RGraph.common.context.js"></script>   <!-- Just needed for context menus -->
<script src="static/RGraph/libraries/RGraph.common.effects.js"></script>   <!-- Just needed for visual effects -->
<script src="static/RGraph/libraries/RGraph.common.key.js"></script>       <!-- Just needed for keys -->
<script src="static/RGraph/libraries/RGraph.common.resizing.js"></script>  <!-- Just needed for resizing -->
<script src="static/RGraph/libraries/RGraph.common.tooltips.js"></script>  <!-- Just needed for tooltips -->
<script src="static/RGraph/libraries/RGraph.common.zoom.js"></script>      <!-- Just needed for zoom -->

<script src="static/RGraph/libraries/RGraph.bar.js"></script>              <!-- Just needed for Bar charts -->
<script src="static/RGraph/libraries/RGraph.bipolar.js"></script>          <!-- Just needed for Bi-polar charts -->
<script src="static/RGraph/libraries/RGraph.cornergauge.js"></script>      <!-- Just needed for CornerGauge charts -->
<script src="static/RGraph/libraries/RGraph.fuel.js"></script>             <!-- Just needed for Fuel charts -->
<script src="static/RGraph/libraries/RGraph.funnel.js"></script>           <!-- Just needed for Funnel charts -->
<script src="static/RGraph/libraries/RGraph.gantt.js"></script>            <!-- Just needed for Gantt charts -->
<script src="static/RGraph/libraries/RGraph.gauge.js"></script>            <!-- Just needed for Gauge charts -->
<script src="static/static/RGraph/libraries/RGraph.hbar.js"></script>             <!-- Just needed for Horizontal Bar charts -->
<script src="static/RGraph/libraries/RGraph.hprogress.js"></script>        <!-- Just needed for Porizontal Progress bars -->
<script src="static/RGraph/libraries/RGraph.led.js"></script>              <!-- Just needed for LED charts -->
<script src="static/RGraph/libraries/RGraph.line.js"></script>             <!-- Just needed for Line charts -->
<script src="static/RGraph/libraries/RGraph.meter.js"></script>            <!-- Just needed for Meter charts -->
<script src="static/RGraph/libraries/RGraph.odo.js"></script>              <!-- Just needed for Odometers -->
<script src="static/RGraph/libraries/RGraph.pie.js"></script>              <!-- Just needed for Pie AND Donut charts -->
<script src="static/RGraph/libraries/RGraph.radar.js"></script>            <!-- Just needed for Radar charts -->
<script src="static/RGraph/libraries/RGraph.rose.js"></script>             <!-- Just needed for Rose charts -->
<script src="static/RGraph/libraries/RGraph.rscatter.js"></script>         <!-- Just needed for Rscatter charts -->
<script src="static/RGraph/libraries/RGraph.scatter.js"></script>          <!-- Just needed for Scatter charts -->
<script src="static/RGraph/libraries/RGraph.thermometer.js"></script>      <!-- Just needed for Thermometer charts -->
<script src="static/RGraph/libraries/RGraph.vprogress.js"></script>        <!-- Just needed for Vertical Progress bars -->
<script src="static/RGraph/libraries/RGraph.waterfall.js"></script>        <!-- Just needed for Waterfall charts  -->
<script src="static/assets/js/jquery.js"></script>
    <script src="static/assets/js/bootstrap-transition.js"></script>
	<script src="static/assets/wyliodrin/addrasp.js"></script>
	
	<script src="static/assets/wyliodrin/names.js"></script>
	<script src="static/assets/wyliodrin/remrasp.js"></script>
    <script src="static/assets/js/bootstrap-alert.js"></script>
    <script src="static/assets/js/bootstrap-modal.js"></script>
    <script src="static/assets/js/bootstrap-dropdown.js"></script>
    <script src="static/assets/js/bootstrap-scrollspy.js"></script>
    <script src="static/assets/js/bootstrap-tab.js"></script>
    <script src="static/assets/js/bootstrap-tooltip.js"></script>
    <script src="static/assets/js/bootstrap-popover.js"></script>
    <script src="static/assets/js/bootstrap-button.js"></script>
    <script src="static/assets/js/bootstrap-collapse.js"></script>
    <script src="static/assets/js/bootstrap-carousel.js"></script>
    <script src="static/assets/js/bootstrap-typeahead.js"></script>
    <meta charset="utf-8">
    <title>User logged in</title>
	<script src="static/assets/wyliodrin/getace.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet">


    <style type="text/css" >
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
	  

    #editor { 
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    </style>
    <link href="static/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="static/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="static/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="static/assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Wyliodrin</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
             
			   <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My profile<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">My XMPP</a></li>
				</ul>
              </li>				
			  
             
			  
			   <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My raspberries<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Raspberry 1</a></li>
                    <li><a href="#">Raspberry 2</a></li>
                    <li><a href="#">Raspberry 3</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#addrasp_modal" data-toggle="modal">Add raspberry</a></li>
				
                    <li><a href="#remrasp_modal" data-toggle="modal">Remove raspberry</a></li>
                  </ul>
                </li>
				 <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
       
	   <div class="span3">
		 <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">My projects</li>
              <li class="active"><a href="#">Project 1</a></li>
              <li><a href="#">Project 2</a></li>
              <li><a href="#">Project 3</a></li>
			  
            </ul>
			<a href="#add_name" class="btn btn-success" data-toggle="modal">Add new project</a>
         
        </div><!--/span-->
        <div class="well sidebar-nav">
	      <ul class="nav nav-list">
			  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select raspberry to see sensors<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="# " data-toggle="modal">Raspberry 1</a></li>
                    <li><a href="#">Raspberry 2</a></li>
                    <li><a href="#">Raspberry 3</a></li>
    
                  </ul>
                </li>
              <li class="nav-header">Environment sensors</li>
              <li><a href="#">Thermometer</a></li>
              <li><a href="#">Other 1</a></li>
              <li><a href="#">Other 2</a></li>
              <li><a href="#">Etc.</a></li>
              <li class="nav-header">Mouvement sensors</li>
              <li><a href="#">Right</a></li>
              <li><a href="#">Left</a></li>
              <li><a href="#">Up</a></li>
              <li><a href="#">Down</a></li>       
            </ul>
			 
          </div><!--/.well -->
		 
        </div><!--/span-->
		
        <div class="span9">
          <div class="hero-unit" id="editor">
          </div>
    
			<script src="http://rawgithub.com/ajaxorg/ace-builds/master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
			<script>
				var editor = ace.edit("editor");
				editor.setTheme("ace/theme/tomorrow");
				editor.getSession().setMode("ace/mode/python");
				
				load();
				editor.getValue(); // or session.getValue
			</script>
        
           
			<div class="dropdown">
                  <a href="#" class="btn btn-large btn-success" data-toggle="dropdown">Run on raspberry<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#" id="run_raspy">Raspberry 1</a></li>
                    <li><a href="#">Raspberry 2</a></li>
                    <li><a href="#">Raspberry 3</a></li>
                 
                  </ul>
				  <a href="#" class="btn btn-large btn-success" onClick="save()">Save</a>
                </div>
				 <br>
        

			  
             
              <canvas id="temperature" width="80" height="400" style="border:1px solid #000000;"></canvas>
			
			<canvas id="buttons" width="400" height="400" style="border:1px solid #000000;"></canvas>
			
   		<canvas id="series" width="400" height="400" style="border:1px solid #000000;"></canvas>
   		
   		<canvas id="light" width="850" height="400" style="border:1px solid #000000;"></canvas>
   		
   		<div>
   			<form id="led" action="send" method="post">
   				Red: <input type="range" name="red" min="1" max="255">
   				Green: <input type="range" name="green" min="1" max="255">
				Blue: <input type="range" name="blue" min="1" max="255">
				<button type="submit" class="btn">Send</button>
			</form>

   		</div>
<script>
    window.onload = function ()
    {        
    	
    }
</script>

<script src="static/assets/wyliodrin/get_prog.js"></script>

  </div>



          
			</div>
			</div>
			
			
			<div class="modal hide fade" id="addrasp_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add new raspberry</h3>
  </div>
  <div class="modal-body">
    <div class="container">

      <form class="form-add">
        
		<br>
        <input type="text" class="span2" id="id" placeholder="Raspberry Id">
		<br>
        <input type="email" class="span2" id="email" placeholder="Jid raspberry">
        <br>
		<br>
        <button onclick="OnOK()" class="btn btn-large btn-success" type="submit">Add</button>
      </form>

    </div> 
  </div>
  <div class="modal-footer">
     <button class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
  
  </div>
</div>
<div class="modal hide fade" id="remrasp_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add new raspberry</h3>
  </div>
  <div class="modal-body">
    <div class="container">

      <form class="form-rem">
        
		<br>
        <input type="text" class="span2" id="id" placeholder="Raspberry Id">
		<br>
        <input type="email" class="span2" id="email" placeholder="Jid raspberry">
        <br>
		<br>
        <button onclick="OnOK()" class="btn btn-large btn-success" type="submit">Remove</button>
      </form>

    </div> 
  </div>
  <div class="modal-footer">
     <button class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
  
  </div>
</div>
<div class="modal hide fade" id="add_name">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add new project</h3>
  </div>
  
  <div class="modal-body">
    <div class="container">

      <form class="name">
        
		<br>
        <input type="text" class="span2" id="pr_name" placeholder="Project name">
		
		<br>
        <button onclick="OnOK()" class="btn btn-large btn-success" type="submit">Add</button>
      </form>

    </div> 
  </div>
  <div class="modal-footer">
     <button class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
  
  </div>
</div>



         
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


<script>
$("#run_raspy").click(function (event)
{
	rasp ();
	event.preventDefault ();
});
</script>
    



  </body>
</html>
