<!DOCTYPE html >
<html>
<head>
    <link rel="stylesheet" href="demos.css" type="text/css" media="screen" />
    
    <script src="../libraries/RGraph.common.core.js" ></script>
    <script src="../libraries/RGraph.line.js" ></script>
    <!--[if lt IE 9]><script src="../excanvas/excanvas.js"></script><![endif]-->
    
    <title>A Line chart with out-of-boundsvalues</title>
    
    <meta name="description" content="A Line chart which shows the out-of-bounds values" />
</head>
<body>

    <h1>A Line chart with out-of-bounds value</h1>

    <canvas id="cvs" width="600" height="250">[No canvas support]</canvas>
    
    <script>
        window.onload = function ()
        {
            var line = new RGraph.Line('cvs', [1,9,4,3,1,9,8,4,8,-17, 8, 9]);
            line.Set('chart.outofbounds', true);
            line.Set('chart.background.grid.autofit.numvlines', 11);
            line.Set('chart.labels', ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']);
            line.Draw();
        }
    </script>

    <p>
        <a href="./">&laquo; Back</a>
    </p>

</body>
</html>